:root {
    font-size: 20px;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Set header+main combo to be a certain amount minus footer, with overflow visible  */
.top-content {
    min-height: calc(100vh - 76px); /* footer height is currently 36px + 20px top & bottom margins*/
    overflow: visible;
}

.nav-item span:hover {
    font-weight: 700;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

.my-img {
    /* max-height: 386px; */
    max-height: 53.7vh;
    width: auto;
}

svg {
    fill: currentColor;
}
